:root{
    --footer-height: 6rem;

    --sidebar-width: 13rem;
    --sidebar-width-xs: 4rem;

    --header-height: 5rem;
} 

.top-content{
    background-color: #141922;
    height: calc(100vh - var(--footer-height));
    
    /* debug */
    display: flex;
    width: 100%;
}

/* *****SIDE BAR****** */
.side-bar{
    width: var(--sidebar-width);
    background-color: black;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem; 
   
 
}

.side-bar-content{
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logo :first-child {
    width: 8rem;
}

.logo :last-child{
    display: none;
    width: 2rem;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.icons > div :first-child{
    width: 1.5rem;
    vertical-align: middle;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-playlist > a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#add-btn{
    background-color: #a3a3a3;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    padding: 0 0.5rem;
    width: auto;
}

.playlist > div > ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-bar-bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.account,
.download {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
}

.download{
    border-bottom: solid thin #a3a3a3;
}

.download-icon{
    width: 1rem;
}
.account-icon{
    width: 2rem;
    height: 2rem;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #a3a3a3;
}

/* *****CONTENT****** */
.content{
    display: flex;
    width: calc(100% - var(--sidebar-width));
    flex-direction: column;

}

/* *****HEADER****** */
header {
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;

    display: flex;
    justify-content: end;
    align-items: center;

    position: fixed;
}

.upgrade{
    border-radius: 3rem;
    color: white;
    border: solid thin white;
    padding: 1rem 2rem;
    font-size: small;
}

/* *****MAIN****** */
main {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
    
    height: 100%;
    padding: var(--header-height) 1rem;
    color: white;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

nav div a{
    font-size: x-small;
    color: darkgrey;
}

.recently-played-list,
.created-for-list,
.popular-artists-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.popular-artists-list .play img{
    border-radius: 50%;
}

.play{
    width: calc((100% / 12) *2);
    padding: 0 1rem;
    position: relative;
}

.play-hover {
    position: absolute;
    top: -25%;
    left: 0%;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-hover>i {
    font-size: 3rem;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    text-align: center;
}

/* *****FOOTER****** */
footer {
    height: var(--footer-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #282828;
    width: 100%;
    color: white;
    position: relative;
    z-index: 1;
}

.img-track{
    width: 25%;
}

.footer-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
}

.footer-title :last-child{
    color: #a3a3a3;
    font-size: x-small;
}

.footer-icons{
    color: #a3a3a3;
    display: flex;
    gap: 1rem;
    width: 30%;
}

.playing-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

footer img{
    width: 4rem;
}


.playing-bar{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.div-progress-bar{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.playing-btn {
    display: flex;
    gap: 2rem;
}

.div-progress-bar span{
    font-size: xx-small;
}

.playing-btn > span > i{
    font-size: large;
}

.progress-bar,
.volume-bar{
    width: 100%;
    height: 0.3rem;
    background-color: #5a5a5a;
    border-radius: 3rem;
}

.progress,
.volume{
    width: 20%;
    height: 100%;
    border-radius: 3rem;
    background-color: #c1c1c1;
}

.playing-settings{
    display: flex;
    align-items: center;
    width: 20%fix;
    gap: 1rem;
}


/* *****RESPONSIVE***** */

/* MD RESPONSIVE */
@media screen and (max-width: 878px) {
    .play {
        min-width: calc((100% / 12) * 3);
    }

}

/* S RESPONSIVE */
@media screen and (max-width: 639px) {
    .play {
        min-width: calc((100% / 12) * 6);
    }

    .playing-track{
        gap: 1rem;
    }

    .footer-icons{
        flex-direction: column;
        gap: 0;
    }

    .playing-settings{
        width: 30%;
    }
}

/* XS RESPONSIVE */

@media screen and (max-width: 552px) {

    .side-bar {
        width: var(--sidebar-width-xs);
    }

    .logo :last-child {
        display: block;
    }

    .logo :first-child {
        display: none;
    }

    .icons>div :last-child {
        display: none;
        color: white;
    }

    .icons>div :first-child {
        display: block;
    }

    .playlist {
        display: none;
    }

    .account-name,
    .download-text{
        display: none;
    }

    .download{
        border-bottom: none;
    }

    .content {
        width: calc(100% - var(--sidebar-width-xs));
    }

    header {
        width: calc(100% - var(--sidebar-width-xs));
    }

}

/* ****HOVER**** */
.side-bar-content :hover,
.download :hover,
nav > div > a:hover {
    color: white;
}

.download :hover{
    text-decoration: underline;
}

.upgrade:hover{
    transform: scale(1.1);
}

.play:hover :not(img) {
    opacity: 0.6;
}
.play-hover:hover {
    opacity: 1;
}