/* Utils */
*{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: small;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

h2{
	font-weight: bold;
	color: white;
}

ul{
	list-style: none;
	min-height: 4rem;
	max-height: 10rem;
	overflow: auto;
}

#selected{
	color: white;
}

.side-bar span,
.side-bar li{
	font-size: smaller;
	color: #595959;
}