/* Utils */
*{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: small;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

h1{
	font-size: large;
	padding-bottom: 1rem;
}

h2{
	font-weight: bold;
	color: white;
}

.title > span,
h1 + span {
	color: darkgrey;
	font-size: smaller;
}

ul{
	list-style: none;
	min-height: 4rem;
	max-height: 10rem;
	overflow: auto;
}

a{
	text-decoration: none;
	color: inherit;
}

#selected{
	color: white;
}

.side-bar div,
.side-bar li a{
	font-size: smaller;
	color: #595959;
}