/* Utils */
*{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: small;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

h2{
	font-weight: bold;
	color: white;
}

ul{
	list-style: none;
}

#selected{
	color: white;
}